[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "<3.0"
aioredis = "*"
environs = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
iso-language-codes = "*"
aiohttp = "*"
redis = "*"
lxml = "*"
bs4 = "*"
phonenumbers = "*"
cryptography = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
aioschedule = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]
pipenv-to-requirements = "*"
pybabel = "*"
requests = "*"

[requires]
python_version = "3.10"
