[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aioredis = "*"
environs = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
iso-language-codes = "*"
aiohttp = "*"

[dev-packages]
pipenv-to-requirements = "*"
pybabel = "*"

[requires]
python_version = "3.10"
